/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  background-color: #0f0f0f;
  color: white;
}
.main {
  margin-top: 10px;
  display: flex;
  /* padding-top: 20px; */
  height: 2000px;
}
.logoMenu {
  fill: currentcolor;
  display: flex;

  justify-content: center;
  align-items: center;
}
.svgMenu {
  margin: 0 20px;
  width: 40px;
  height: 40px;
  padding: 8px;

  border-radius: 50%;
}
.svgMenu:hover {
  margin: 0 20px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #373434;
  /* cursor: pointer; */
  border-radius: 50%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 60px;
}

.input-with-button {
  display: flex;
  justify-content: center;
  width: 50%;
  /* border: solid red; */
}

.input-with-button input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: solid 1px rgb(76, 75, 75);
  border-radius: 20px;
}

.inputSearch {
  position: relative;
}

.seatchBtn {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 80px;
  height: 38px;
  color: #fff;
  background-color: #1d1c1c;
  cursor: pointer;
  padding: 7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgb(76, 75, 75);
}
.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoIcon svg,
.notificationsIcon svg {
  color: white;
  width: 50px;
  padding: 10px;
}
.videoIcon svg:hover,
.notificationsIcon svg:hover {
  color: white;
  width: 50px;
  padding: 10px;
  background-color: #373434;
  cursor: pointer;
  border-radius: 50%;
}
.micImg {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #1d1c1c;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
}
.micImg:hover {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #373434;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
}
.profil img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.aside {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  /* z-index: 1100; */
}

.aside svg {
  width: 50px;
  padding: 15px;
  margin-bottom: 10px;
}
.aside svg:hover {
  width: 50px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #373434;
  cursor: pointer;
  border-radius: 5px;
}
.section {
  width: 100%;
}
.category {
  width: auto;
  padding: 7px 10px;
  background-color: #272727;
  border-radius: 7px;
  border-width: 0;
  margin: 0 8px 5px 0;
}
.active {
  width: auto;
  padding: 7px 10px;
  background-color: #ffffff;
  border-radius: 7px;
  border-width: 0;
  margin: 0 8px 0 0;
  color: black;
}
.category:hover {
  width: auto;
  padding: 7px 10px;
  background-color: #272727;
  border-radius: 10px;
  border-width: 0;
  margin: 0 8px 0 0;
  background-color: #373434;
  cursor: pointer;
}
.card {
  width: 19%;
  min-width: 300px;
  margin-right: 1%;
  padding-bottom: 50px;
}
.cardShorts {
  width: 13%;
  min-width: 100px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.cardShorts img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.imgTitleCh {
  display: flex;
  justify-content: start;
  width: 100%;
  padding-top: 5px;
  cursor: pointer;
}
.imgTitleCh img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.imageVideo {
  position: relative;
}
.durationg {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #3734348d;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.articleTitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.channel,
.views,
.date {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  color: rgb(170, 170, 170);
}
.viewsCh {
  display: flex;
}
.titleCh {
  width: 100%;
}
.titleDots {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.titleDots svg {
  width: 30px;
  height: 30px;
}
.featured {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 200px; */
}
.second {
  margin-top: 50px;
}
.shortVideos {
  margin-top: 20px;
}
.shorts {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
}
.titlex {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 10px;
}
.titlex svg {
  width: 25px;
}
.svgTitle {
  display: flex;
}
